# === כלליים (לשניהם) ===
node_modules/
dist/
build/
.env
.env*.local
.DS_Store
*.pem
*.tsbuildinfo
package-lock.json
yarn.lock
npm-debug.*
yarn-debug.*
yarn-error.*
.idea/
.cline-instructions.md
app-example

# === frontend בלבד ===
SleepyCare-frontend/.expo/
SleepyCare-frontend/web-build/
SleepyCare-frontend/expo-env.d.ts
SleepyCare-frontend/*.orig.*
SleepyCare-frontend/*.jks
SleepyCare-frontend/*.p8
SleepyCare-frontend/*.p12
SleepyCare-frontend/*.key
SleepyCare-frontend/*.mobileprovision
SleepyCare-frontend/.metro-health-check*
SleepyCare-frontend/expo-env.d.ts
SleepyCare-frontend/app/google-services.json
SleepyCare-frontend/app/firebaseConfig.ts
SleepyCare-frontend/.vscode/

# === server בלבד ===
SleepyCare-backend/src/config
SleepyCare-backend/f.json